@import "../../scss/colors";
@import "../../scss/variables";

.filter {
	// min-height: 64px;
	// padding: 8px 24px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	// background: #303030;
	// margin-bottom: 10px;
	mat-form-field {
		// width: 100%;
		margin-left: auto;
		@media (max-width: $xs-size) {
			width: 100%;
		}
	}

	@media (max-width: $xs-size) {
		background: #303030;
		padding: 5px 15px;
	}
}

.vote-icon {
	&.vote-up {
		color: #c0c0c0;
		&.checked {
			color: $upvote-color;
		}
	}
	&.vote-down {
		color: #9e9e9e;
		&.checked {
			color: $downvote-color;
		}
	}
}

.joke-row {
	cursor: pointer;
	flex-wrap: wrap;
	&:hover {
		background: rgba(#9e9e9e, .2);
	}
}

.joke-description {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 15px;
	@media(max-width: $xs-size) {
		width: 100%;
		flex: unset;
		padding-top: 10px;
		padding-right: 1px;
	}
}

.vote-cell {
	flex: .25;
}

.author-cell {
	flex: .5;
	@media(max-width: $xs-size) {
		color: #c0c0c0;
	}
}

.xs-bottom-row {
	@media(max-width: $xs-size) {
		font-size: small;
		mat-icon {
			font-size: 18px;
		}
	}
}

@media(max-width: $xs-size) {
	mat-header-row {
		display: none;
	}
}

