@import "../../scss/colors";

.joke {
	text-align: center;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 15px 10px;
    background: $joke-bg;
    margin-left: -24px;
    margin-right: -24px;
}

.vote-stats {
	font-size: 12px;
}

.vote-amount {
	font-weight: bold;
	font-size: 20px;
	margin-right: 8px;

	&.upvote {
		color: $upvote-color;
	}

	&.downvote {
		color: $downvote-color;
	}
}

.revert-quote {
	transform: scaleX(-1);
}
