@import "../../scss/colors";

.joke {
	text-align: center;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 15px 10px;
    background: $dark-bg;
    margin-left: -24px;
    margin-right: -24px;
}

.vote-stats {
	font-size: 12px;
}

.upvote {
	color: $upvote-color;
	font-weight: bold;
	font-size: 14px;
}

.downvote {
	color: $downvote-color;
	font-weight: bold;
	font-size: 14px;
}

.revert-quote {
	transform: scaleX(-1);
}
