<h2 mat-dialog-title>
	{{ joke.author }} a dit:
</h2>
<mat-dialog-content>
	<p class="joke">
		<mat-icon class="revert-quote">format_quote</mat-icon>
		{{ joke.description }}
		<mat-icon>format_quote</mat-icon>
	</p>
	<p class="vote-stats">
		<span class="upvote vote-amount">{{ joke.upvotes }}</span> personne<span *ngIf="joke.upvotes > 1">s</span> trouve<span *ngIf="joke.upvotes > 1">nt</span> que {{ joke.author }} était très inspiré(e) ce jour-là
	</p>
	<p class="vote-stats">
		<span class="downvote vote-amount">{{ joke.downvotes }}</span> personne<span *ngIf="joke.downvotes > 1">s</span> pense<span *ngIf="joke.downvotes > 1">nt</span> que {{ joke.author }} devrait aller se pendre
	</p>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close>
		Fermer
	</button>
	<button mat-raised-button color="warn" (click)="showConfirm = true" *ngIf="!showConfirm">
		<mat-icon>delete</mat-icon>
		Supprimer
	</button>
	<button mat-raised-button color="accent" [mat-dialog-close]="joke.id" *ngIf="showConfirm">
		<mat-icon>check</mat-icon>
		Confirmer ?
	</button>
</mat-dialog-actions>
