<mat-card>
	<mat-card-header>
		<mat-card-title>
			Jokes
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<mat-list *ngFor="let joke of jokes; let i = index;">
			<mat-list-item>
				<div mat-line>
					<div class="line-content description">
						{{ joke.description }}
					</div>
					<div class="upvotes line-content">
						<button mat-icon-button>
							<mat-icon (click)="updateVote(joke.id, 1)">thumb_up</mat-icon>
						</button>
						{{ joke.upvotes }}
					</div>
					<div class="downvotes line-content">
						<button mat-icon-button>
							<mat-icon (click)="updateVote(joke.id, -1)">thumb_down</mat-icon>
						</button>
						{{ joke.downvotes }}
					</div>
				</div>

				<p mat-line class="author">
					By {{ joke.author }}
				</p>
			</mat-list-item>
		</mat-list>
	</mat-card-content>
	<mat-card-footer>
		<button mat-fab color="primary" class="add-joke-btn" (click)="openAddJokeDialog()">
			<mat-icon>add</mat-icon>
		</button>
	</mat-card-footer>
</mat-card>
