mat-card {
	margin: 10%;
}

mat-list-item {
	border-bottom: rgba(#c0c0c0, .666) solid 1px;
	&:last-child {
		border-bottom: 0;
	}
	.line-content {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.mat-line {
		display: flex;
	}
}

.description {
	flex-grow: 1;
}

.upvotes {
	width: 150px;
	mat-icon {
		margin-right: 8px;
		color: #c0c0c0;
		&.checked {
			color: #208a20;
		}
	}
}

.downvotes {
	width: 150px;
	mat-icon {
		margin-right: 8px;
		color: #9e9e9e;
		&.checked {
			color: #b60b0b;
		}
	}
}

.author {
	margin-left: 16px;
	color: #c0c0c0;
}
mat-card-footer {
	text-align: right;
	.add-joke-btn {
		margin: 10px;
	}
}
