@import "../scss/variables";

mat-card {
	margin: 5%;

	@media (max-width: $xs-size) {
		margin: 0;
		padding: 0;
		margin-bottom: 80px;
	}
}

.add-joke-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
