@import "../scss/variables";
@import "../scss/colors";

.card-item {
	width: 50%;
	float: left;
	padding: 15px;

	@media(max-width: $xs-size) {
		width: 100%;
	}

	mat-card.joke {
		height: 300px;

		.joke-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 210px;
			background: $joke-bg;
			margin-left: -24px;
			margin-right: -24px;
		}
	}
}

.revert-quote {
	transform: scaleX(-1);
}

p {
	text-align: center;
}
